{%extends "stock_app/base.html"%}
{%block title%}
  <title>Home</title>
{%endblock%}
<body>
  {%block content%}
  <!-- Main Content -->
  
  <div class="container">
    <div class="row">
      <div class="col-lg-14 col-md-18 mx-auto">
        <div class="post-preview">
         {% for i in articles %}
          <a href="{{i.url}}" rel="noopener noreferrer">
            <h2 class="post-title">
              {{ i.title}}
            </h2>    
          </a>
          <img src="{{i.urlToImage}}" alt="" height="400px" width="100%" >
            <p class="post-subtitle">
              {{ i.description }}
            </p>
          <p class="post-meta">Posted by {{i.author}}</p>
          <hr>
            {%endfor%}
        </div>

        
      </div>
    </div>
  </div>

  <hr>

 
{%endblock%}
</body>

</html>
