{% extends "stock_app/base.html" %}
{% load crispy_forms_tags %}
{%block content%}
<p>User's name: {{user.username}}</p>
  <form action="#" method="get">
        <input id="searchEntry" name="search_box"  type="text" class="searchbox__input" placeholder="Search a Ticker">
          <button type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i>
        </button>
    </form>
<!-- Stock Label -->
<h3 class="tickerHeader">Stock name: {{ ticker }}</h3>
<h3 class="tickerHeader">Current Prices: {{currentPrice}}  </h3>
<!-- end Stock Label -->
<div>
    <canvas id="firstChart" width="400" height="200"></canvas>
</div>

<script>
var ctx = document.getElementById('firstChart').getContext('2d');
var weeklyData = JSON.parse("{{ weekly_prices }}")
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
        datasets: [{
            label: 'Stock Name: {{ ticker }}',
            data: weeklyData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{%endblock%}
</html>